.AddPlantsForm {
  width: 100%;
}

.AddPlantsForm-Form {
  border: 3px solid var(--color-green);
  padding: 20px;
  border-radius: 10px;
}

.AddPlantsForm > h2 {
  display: block;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}

.AddPlantsForm-Button {
  color: var(--color-green);
  background: transparent;
  border: 2px solid var(--color-green);
  border-radius: 5px;
  padding: 5px 15px;
  box-shadow: var(--box-shadow);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}

.AddPlantsForm-Button:hover {
  background: var(--color-green);
  color: #000;
}

.AddPlantsForm-FormInput {
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
  width: 100%;
}

.AddPlantsForm-InputLabel {
  padding: 5px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
}

.AddPlantsForm-FormInput > input {
  margin: 5px 0px;
}

.AddPlantsForm-FormInput > input[type='text'] {
  border: 0;
  border-radius: 2px;
  box-shadow: var(--box-shadow);
  padding: 10px;
  font-size: 15px;
}
