.PlantCard {
  box-shadow: var(--box-shadow);
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  color: black;
  width: 200px;
  height: 180px;
  margin: 5px;
  text-align: left;
}

.PlantCard-Header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.PlantCard-Header > * {
  margin: 0px 5px;
}

.PlantCard p {
  margin: 0px;
}

.PlantCard-Label {
  font-size: 12px;
  margin-top: 5px;
  padding-top: 10px;
}

.PlantCard-Value {
  font-weight: 600;
  font-size: 17px;
}
